body {
    background-color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding-top: 60px;
}

/* TOP BAR */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;

    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(0,255,0,0.3);

    z-index: 2000;
}

/* TITLE CENTER */
.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #00ff00;
    font-weight: 600;
}

/* BURGER FORCE RIGHT */
.burger {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    cursor: pointer;
}

/* BURGER LINES */
.burger span {
    display: block;
    height: 3px;
    background: #00ff00;
    margin: 5px 0;
    transition: 0.3s;
}

/* ANIMATION */
.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.burger.active span:nth-child(2) {
    opacity: 0;
}
.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* MENU RIGHT */
.menu {
    position: fixed;
    top: 60px;
    right: 10px;
    background: rgba(31,59,31,0.9);
    backdrop-filter: blur(8px);
    border: 2px solid #00ff00;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* CONTAINER */
.container {
    background-color: #1f3b1f;
    width: 600px;
    max-width: 95%;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid #00ff00;
    border-radius: 20px;
    text-align: center;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* BOX */
.box {
    border: 2px solid #00ff00;
    padding: 10px;
    border-radius: 20px;
}

.box img {
    width: 100%;
    border-radius: 20px;
}

/* BUTTON */
button {
    background: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px 20px;
    border-radius: 20px;
}

/* HIDDEN */
.hidden {
    display: none;
}
