body {
    background-color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* BURGER */
.burger-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.burger {
    width: 35px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background: #00ff00;
    margin: 5px 0;
    transition: 0.3s;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* MENU */
.menu {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #1f3b1f;
    border: 2px solid #00ff00;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 140px;
    z-index: 999;
}

.menu button {
    font-size: 12px;
    padding: 5px;
    margin: 5px 0;
}

/* CONTAINER */
.container {
    background-color: #1f3b1f;
    width: 600px;
    max-width: 95%;
    padding: 20px;
    border: 2px solid #00ff00;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
}

/* BUTTONS */
button {
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #00ff00;
    color: black;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* BOX */
.box {
    border: 2px solid #00ff00;
    padding: 10px;
    border-radius: 20px;
}

.box img {
    width: 100%;
    border-radius: 20px;
}

.hidden {
    display: none;
}
